{{ partial "head" . }}

{{if eq .Site.Params.singleViewStyle "casper"}}
  <body class="tag-template"><div class="site-wrapper">
  {{ partial "header-sori-tag" . }}
{{else}}
  <body class="home-template"><div class="site-wrapper">
  {{ partial "header" . }}
{{end}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
      {{ partial "post-list" . }}
    </div>

    {{ partial "paginator-nav.html" . }}

  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
