{{ if .IsPage }} <!-- Credit V JEANTET -->
    {{ if .Params.image }}
        {{ $imageUrl := "" }}
        {{ with .Resources.GetMatch .Params.image }}
          {{ $imageUrl = .RelPermalink }}
        {{ else }}
          {{ $imageUrl = (.Params.image | absURL) }}
        {{ end }}
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:image" content="{{ $imageUrl }}"/>
    {{ else }}
	<meta name="twitter:card" content="{{.Summary}}"/>
	{{ with .Site.Params.twitterImage }}
	    <meta name="twitter:image" content="{{ . | absURL }}"/>
	{{ end }}
    {{ end }}
{{ else }}
    <meta name="twitter:card" content="{{.Summary}}"/>
    {{ if .Site.Params.twitterImage }}
	{{ with .Site.Params.twitterImage }}
	    <meta name="twitter:image" content="{{ . | absURL }}"/>
	{{ end }}
    {{ else if .Site.Params.cover }}
	{{ with .Site.Params.cover }}
	    <meta name="twitter:image" content="{{ . | absURL }}"/>
	{{ end }}
    {{ end }}
{{ end }} <!-- Twitter Card data -->
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{if .IsPage}}{{ .Description | default (substr .Summary 0 160) }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
    <meta name="twitter:url" content="{{.Permalink | absURL}}" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitterName }}"/>
